<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <META name="keywords" content="<%= @seo_keywords %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= render "shared/nav", location: 'top' %>

    <%= yield %>

    <% if session[:source] %>
    <p>Thanks for visting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
